/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/autohide_tabstoolbar.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* Hide tabs unless cursor is on top of toolbar */

:root:not([customizing]) #navigator-toolbox{
  position: relative;
  z-index: 1;
}

#navigator-toolbox:not(:hover) > #titlebar{
  -moz-window-dragging: no-drag !important;
  pointer-events: none
}

:root:not([customizing]) #navigator-toolbox:hover,
:root:not([customizing]) #titlebar{
  margin-bottom: calc(0px - 2 * var(--tab-block-margin) - var(--tab-min-height));
}
#TabsToolbar:not([customizing]){ visibility: hidden; transition: visibility 0ms linear 200ms }

#navigator-toolbox,
#titlebar{ transition: margin-bottom 48ms ease-out 200ms }

#navigator-toolbox:hover{ transition-delay: 0s }
#navigator-toolbox:hover > #titlebar{
  margin-bottom: 0px;
  transition-delay: 0s;
}

#navigator-toolbox:hover #TabsToolbar{
  visibility: visible;
  transition-delay: 18ms
}
/* These rules make sure that height of tabs toolbar doesn't exceed tab-min-height */
#tabbrowser-tabs:not([secondarytext-unsupported]) .tab-label-container{
  max-height: var(--tab-min-height);
}
.tab-label{ line-height: 20px !important; }
:root[uidensity="compact"] .tab-label{ line-height: 18px !important; }

